{% extends "model-page.html" %}
{% block content %}
    <div class="content-wrapper">
        <h2>Cadastrar Usuario</h2>

        <form action="submit" method="POST" class="form-cadastro">
            {% csrf_token %}
            <input type="number" name="id_usuario" value="{{ usuario.id }}" hidden>

            <label for="nome">Nome</label>
            <input type="text" id="nome" name="username" value="{{ usuario.username }}" required>

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="password" value="" required>

            <div class="form-actions">
                <button type="submit" class="save-button">Salvar</button>
                <a href="/usuario/">
                    <button type="button" class="cancel-button">Cancelar</button>
                </a>
            </div>
        </form>
    </div>
{% endblock %}