{% extends "model-page.html" %}
{% block content %}
    <div class="content-wrapper">
        <h2>Colaboradores</h2>

        <a href="/colaborador/cadastrar/"> 
            <button type="button" class="add-button">Adicionar Colaborador</button>
        </a>

        <table class="table-listagem">
            <thead>
                <tr>
                    <th>Nome do Colaborador</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for colaborador in colaboradores %}
                <tr>
                    <td>{{ colaborador.nome }}</td>
                    <td class="table-buttons">
                        <a href="/colaborador/cadastrar/?id={{ colaborador.id }}" class="edit-btn">Editar</a>
                        <a href="" class="delete-btn" id="excluir-{{colaborador.id}}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}    
            </tbody>
        </table>
    </div>
{% endblock %}