{% extends "model-page.html" %}
{% block content %} 
<div class="content-wrapper">
    <h2>Empréstimo</h2>

    <a href="/emprestimo/cadastrar/"> 
        <button type="button" class="add-button">Adicionar Empréstimo</button>
    </a>

    <form action="?colaborador={{colaborador}}&equipamento={{equipamento}}&situacao_emprestimo={{situacao_emprestimo}}" method="GET" class="form-cadastro">
       <label for="colaborador">Nome Colaborador</label>
        <input type="text" id="colaborador" name="colaborador" value="{{ filtros.colaborador }}">

        <label for="equipamento">Nome Equipamento</label>
        <input type="text" id="equipamento" name="equipamento" value="{{ filtros.equipamento }}">

        <label for="situacao_emprestimo">Status</label>
        <select name="situacao_emprestimo">
            {% for key, value in situacao_choices %}
                <option value="{{ key }}" {% if emprestimo and emprestimo.situacao_emprestimo == key %}selected{% endif %}>
                    {{ value }}
                </option>
            {% endfor %}
        </select>

        <div class="form-actions">
            <button type="submit" class="save-button">Pesquisar</button>
        </div>
    </form>
    
    {% if show_table %}
        {% if not emprestimos %}
            {% include "no-results.html" %}
        {% else %}
        <table class="table-listagem">
            <thead>
                <tr>
                    <th>Colaborador</th>
                    <th>Equipamento</th>
                    <th>Data de Empréstimo</th>
                    <th>Situação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for emprestimo in emprestimos %}
                <tr>
                    <td>{{ emprestimo.id_colaborador }}</td>
                    <td>{{ emprestimo.id_equipamento }}</td>
                    <td>{{ emprestimo.data_emprestimo }}</td>
                    <td>{{ emprestimo.get_situacao_emprestimo_display}}</td>
                    <td class="table-buttons">
                        <a href="/emprestimo/cadastrar/?id={{ emprestimo.id }}" class="edit-btn" id="excluir-{{emprestimo.id}}"">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    {% endif %}
</div>


{% endblock %}