{% extends "model-page.html" %}
{% block content %} 
<div class="content-wrapper">
    <h2>Equipamento</h2>

        <a href="/equipamento/cadastrar/"> 
            <button type="button" class="add-button">Adicionar equipamento</button>
        </a>

        <table class="table-listagem">
            <thead>
                <tr>
                    <th>Nome do Equipamento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for equipamento in equipamentos %}
                <tr>
                    <td>{{ equipamento.nome }}</td>
                    <td class="table-buttons">
                        <a href="/equipamento/cadastrar/?id={{ equipamento.id }}" class="edit-btn">Editar</a>
                        <a href="/equipamento/excluir/{{ equipamento.id }}" class="delete-btn" id="excluir-{{equipamento.id}}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}