{% extends "model-page.html" %}
{% block content %}
    <div class="content-wrapper">
        <h2>Usuários</h2>

        <a href="/usuario/cadastrar/"> 
            <button type="button" class="add-button">Adicionar Usuário</button>
        </a>

        <table class="table-listagem">
            <thead>
                <tr>
                    <th>Nome do Usuário</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.username }}</td>
                    <td class="table-buttons">
                        <a href="/usuario/cadastrar/?id={{ usuario.id }}" class="edit-btn">Editar</a>
                        <a href="/usuario/excluir/{{ usuario.id }}" class="delete-btn">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}